<a href="https://colab.research.google.com/github/kanchandhole/Data-Scientist/blob/main/02_feb_ass_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q1.** What are the characteristics of the tuples? Is tuple immutable?

**Ans:-**
Tuples work as containers, which means you can store the data in them.

tuples are immutable, meaning their contents cannot be changed after creation.

**Q2.** What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

**Ans:**
The two in-built methods for Python tuples are count() and index().

 count() returns the number of times a specific value appears in the tuple.

 index() returns the position (index) of the first occurrence of a specified value.

In [2]:
my_tuple = (1, 2, 3, 2, 5, 2)
count = my_tuple.count(2)  # count will be 3 (2 appears 3 times)
print(count)

3

In [3]:
my_tuple = (1, 2, 3, 2, 5, 2)
index = my_tuple.index(2)  # index will be 1 (2 first appears at index 1)
print(index)

1

**Q3.** Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

**Ans-** set is not allow duplicate item

In [4]:
l1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [5]:
l2 = set((l1))

In [6]:
l2

{1, 2, 3, 4}

In [8]:
l1 = list((l2))
print(l1)

[1, 2, 3, 4]

**Q4.**Explain the difference between the union() and update() methods for a set. Give an example of
each method.

**Ans:**
The main difference between union() and update() in Python sets is that union() returns a new set containing the combined elements of both sets, while update() modifies the original set by adding elements from the other set.

union() does not alter the original set, whereas update() does.

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
new_set = set1.union(set2)  # or set1 | set2
print(new_set)  # Output: {1, 2, 3, 4, 5}
print(set1)  # Output: {1, 2, 3} (original set unchanged)

{1, 2, 3, 4, 5}
{1, 2, 3}

In [10]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)  # set1 is changed in place
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{3, 4, 5}

**Q5.**What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

**Ans:** A dictionary is a data structure that stores key-value pairs. It's used to map keys to corresponding values, allowing for efficient lookups based on the keys. In Python, dictionaries are unordered until Python 3.7, where they became ordered.

In [18]:
di ={"name" : 'kanchna', "address" : "pune", "email_id" : "kanchan12@gmail.com"}

In [19]:
di

{'name': 'kanchna', 'address': 'pune', 'email_id': 'kanchan12@gmail.com'}

**Q6.**Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

**Ans:** Yes, you can create a nested dictionary in Python.

In [30]:
student = {101 : {"Name":"kanchan" , "address":"pune","email_id":'kanchan123@gail.com'},
           102 : {"Name":"priya" , "address":"mumbai","email_id":'priya@gail.com'},
           103: {"Name":"rohit" , "address":"nagpur","email_id":'rohit13@gail.com'},
           104 : {"Name":"chetn" , "address":"nashik","email_id":'chent12@gail.com'}}

**Q7.** Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [35]:
dict1 = {'language': 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

**Q8.** What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Ans: In Python, there are three dictionary view objects: keys() â€” shows us all the keys of a given dictionary, as a sequence. values() â€” shows us all values of a dictionary, as a sequence. items() â€” shows us all the key-value pairs of a dictionary, once again as a sequence.

In [36]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [37]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [38]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [39]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [40]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])